In [ ]:
a = 10

In [ ]:
a < 15

True

In [ ]:
a > 15

False

In [ ]:
if a < 15:
  print("MY name is ram")

MY name is ram

In [ ]:
if a < 15:

SyntaxError: incomplete input (<ipython-input-7-1b8069a28b2f>, line 1)

In [ ]:
if a < 15:
  pass

In [ ]:
if a < 15:
  print("my name is ram")

my name is ram

In [ ]:
if 34 <15:
  print("my name is ram")

In [ ]:
if 10 < 3:
  print("if exicuted")
else:
  print("else exicuted")

else exicuted

In [ ]:
income = 100

if income < 50:
  print('i will buy phonw')
elif income < 70:
  print('i will buy car')
elif income < 90:
  print('i will buy house')
else:
  print('i will rent a house')

i will rent a house

In [ ]:
income = int(input())

if income < 50:
  print('i will buy phonw')
elif income < 70:
  print('i will buy car')
elif income < 90:
  print('i will buy house')
else:
  print('i will rent a house')

99
i will rent a house

In [ ]:
total_price = int(input())

if total_price > 20000:
  discount = total_price * .20
  print("discount will be = ",discount)
elif total_price <= 7000:
  discount = total_price * .05
  print("discount = ", discount)
else:
  print("NONE")

7009
NONE

In [ ]:
coup = input()
if coup == 'NIKI':
  print("get a discount of 5%")
  paid_amt = 7080- 7080*.05
  print("pay amt = ",paid_amt)
else:
  print("Invalid code")

kkkk
Invalid code

In [ ]:
coup = input()
if coup == 'NIKI':
  print("get a discount of 5%")
  paid_amt = 7080- 7080*.05
  print("pay amt = ",paid_amt)
else:
  print("Invalid code")

NIKI
get a discount of 5%
pay amt =  6726.0

In [ ]:
hr = int((input()))

if hr < 2:
  print("8-9 month")
elif hr <= 4 and hr > 1:
  print("4-6 minths")
elif hr >= 5 and hr < 11:
  print('3  month')
else:
  print("it will be difficult")

4
4-6 minths

In [ ]:
# in single line

a = 9
if a == 9:print("calid")

calid

In [ ]:
s = input("eenter name of the cppurse : ")
course = input()
serv = input()

if s == "onew":
  if course == 'DSA':
    print('avilable and interview prep too')
  elif course =="Blockchain":
    print("not avilable")
  elif course == "FSDS":
    print("you can start lerning")
  else:
    print("kindly raise your demand")
elif s == "servise":
  if serv == 'request':
    print("note")
  elif serv == 'module':
    print("will fulfil it in 90 days")
  elif serv == 'doubt clearing':
    print("aaaaaaaaaaaa")
  else:
    print("kindly give feedback")
else:
  print("kindly pprovide your feedback")

eenter name of the cppurse : onew
DSA
reuest
avilable and interview prep too

**WHILE**

In [ ]:
# While Loop

In [ ]:
l = [1,2,3,4,5,6,7]

In [ ]:
for i in l:
  print(i)
  print("next")

1
next
2
next
3
next
4
next
5
next
6
next
7
next

In [ ]:
for i in "NIKITA":
  print(i)

N
I
K
I
T
A

In [ ]:
t = (1,2,3,4,5,6)

for i in t:
  print(i)

1
2
3
4
5
6

In [ ]:
l = [1,4,5.6,4.7j , "nik"]

for i in l:
  print("data type of ",i,"=",type(i))

data type of  1 = <class 'int'>
data type of  4 = <class 'int'>
data type of  5.6 = <class 'float'>
data type of  4.7j = <class 'complex'>
data type of  nik = <class 'str'>

In [ ]:
l = [1,4,5.6]

for i in l:
  print(i+2)

3
6
7.6

In [ ]:
l1 = []
for i in l:
  l1.append(i+2)

l1

[3, 6, 7.6]

In [ ]:
l = [2,4.5,65,12,"nik",6+6j,[2,3,4]]
l1 = []

for i in l:
  if type(i) == float:
    l1.append(i)
  else:
    print("--",i,"--")

print("\n\n")
print("int part  = ",l1)

-- 2 --
-- 65 --
-- 12 --
-- nik --
-- (6+6j) --
-- [2, 3, 4] --



int part  =  [4.5]

In [ ]:
l = [2,4.5,65,12,"nik",6+6j,[2,3,4.5,65,6,0.4]]
l1 = []

for i in l:
  if type(i) == int:
    l1.append(i)
  elif type(i) == list:
    for j in i:
      if type(j) == int:
        l1.append(j)

  else:
    print("--",i,"--")

print("\n\n")
print("int part  = ",l1)

-- 4.5 --
-- nik --
-- (6+6j) --



int part  =  [2, 65, 12, 2, 3, 65, 6]

In [ ]:
# For else statment

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [2,45,12,78,"nik",4+6j,[1,2,4,"ggg"]]

# Q1) print index of all the elements

for i in range(len(l)):
  print(i)

0
1
2
3
4
5
6

In [ ]:
for i in range(len(l)):
  print("index =>",i,"  value =>",l[i])

index => 0   value => 2
index => 1   value => 45
index => 2   value => 12
index => 3   value => 78
index => 4   value => nik
index => 5   value => (4+6j)
index => 6   value => [1, 2, 4, 'ggg']

In [ ]:
l

[2, 45, 12, 78, 'nik', (4+6j), [1, 2, 4, 'ggg']]

In [ ]:
# Q2 try to extract all the list of char if elemnt is string

l2 = []

for i in l:
  if type(i) == str:
    l2.append(i)
  elif type(i) == list:
    for j in i:
      if type(j) == str:
        l2.append(j)
      else:
        print("...")
  else:
    pass

print("string list = ", l2)

...
...
...
string list =  ['nik', 'ggg']

In [ ]:
# Q3 try to retrn a list after squar of all the int element

lsq = []
for i in l:
  if type(i) == int or type(i) == float:
    lsq.append(i**2)
  else:
    pass

In [ ]:
lsq

[4, 2025, 144, 6084]