In [ ]:
class car:
  def __init__(self, bodyt, engin, fulet):
    self.bodyt = bodyt
    self.engin = engin
    self.fulet = fulet  # this self.var_nm is actully a calss variable
    # their value is accesed is we tryto get the value of the variables or any object

  def test(self):
    print("this is my 1st method in my car class")
    print(self.bodyt)

# __init__ is a constructor that is responsible for providing data to a classs

In [ ]:
fortuner = car("suv","bs$","petrol")

In [ ]:
# now what will my car class is going to do with this data

In [ ]:
nexon = car("suv","abc","petrol")

In [ ]:
nexon.engin

'abc'

In [ ]:
fortuner.bodyt

'suv'

In [ ]:
class car:
  def __init__(self, bodyt, engin, fulet):
    self.bodyt_1 = bodyt  # changed the bodyt_1 from bodyt
    self.engin = engin
    self.fulet = fulet  # this self.var_nm is actully a calss variable
    # their value is accesed is we tryto get the value of the variables or any object

  def test(self):
    print("this is my 1st method in my car class")
    print(self.bodyt)

# __init__ is a constructor that is responsible for providing data to a classs

In [ ]:
fortuner.bodyt
# here we dont get avalue coz there is not bodyt in the class that object that it recognizes
# for the class to recognize the var; it shiuld be like self.var_name

AttributeError: 'car' object has no attribute 'bodyt'

In [ ]:
fortuner.bodyt_1

'suv'

In [ ]:
class car1:
  def __init__(self, bodyt, engin, fulet):
    self.a = bodyt
    self.b = engin
    self.c = fulet  # this self.var_nm is actully a calss variable
    # their value is accesed is we tryto get the value of the variables or any object

  def test(self):
    print("this is my 1st method in my car class")
    print(self.bodyt)

# __init__ is a constructor that is responsible for providing data to a classs

In [ ]:
alto = car1("maruti","suzuki","petrol")

alto.a

'maruti'

In [ ]:
alto.bodyt
# car1 class only recognizes a,b,c var from clSS

AttributeError: 'car1' object has no attribute 'bodyt'

In [ ]:
# defining method when creatign a class
# inbult = > __init__
#

In [ ]:
class car2:
  def test(self):
    print("this is my 1st method in my car class")

# __init is only required if we need to paas data to the class
# if we don;t need to pass any data to the class : we dont need __init__ method
# so if when we create an object if we dont need to initialize any data/variable : we dont need __init__

In [ ]:
x = car2()  # creating an object for class car2

In [ ]:
x.test() # calling function from class

this is my 1st method in my car class

In [ ]:
class car3:
  def test(self,b,c):
    print(c+b)
    print("this is my 1st method in my car class")

# __init is only required if we need to paas data to the class
# if we don;t need to pass any data to the class : we dont need __init__ method
# so if when we create an object if we dont need to initialize any data/variable : we dont need __init__

In [ ]:
y = car3()

In [ ]:
y.test(5,7)

12
this is my 1st method in my car class

In [ ]:
#########

In [ ]:
print(type(y))

<class '__main__.car3'>

In [ ]:
class list_parser:
  def test1(self,l):
    if type(l) == list:
      for i in l:
        print(i)

  def reverse_l(self, z):
    if type(z) == list:
      return z[::-1]

In [ ]:
c = list_parser()   # can access all the funtion innthe class

c.test1([4,5,6,32,7,2])

4
5
6
32
7
2

In [ ]:
c.reverse_l([1,4,6,8,9,9,5,3,23])

[23, 3, 5, 9, 9, 8, 6, 4, 1]

In [ ]:
# same value to all the methods
# we will use __init__

class list_parser01:
  def __init__(self,l):
    self.l = l

  def test1(self):
    if type(self.l) == list:
      for i in self.l:
        print(i)

  def reverse_l(self):
    if type(self.l) == list:
      return self.l[::-1]

In [ ]:
l =[4,3,2,1,7,6,5,9]

k = list_parser01(l)
k.test1()

4
3
2
1
7
6
5
9

In [ ]:
k.reverse_l()

[9, 5, 6, 7, 1, 2, 3, 4]

In [ ]:
class dicttionary:
  def __init__(self,di):
    self.di = di

  #1
  def kei(self):
    for i in self.di.keys():
      print(i)

  # 2
  def val(self):
    for i in self.di.values():
      print(i)

  # 3
  def exc(self):
      if type(self.di) != dict:
        raise Exception(self,di,"NOT A DICTIONARY")
      return 1


  # 5
  def new_pair(self):
    k = int(input())
    vl = input()
    self.di[k] = vl
    print(self.di)


    # 5 again better

  def userin(self):
    self.di = eval(input())
    print(self.di,type(self.di))
    print(self.di.keys())
    print(self.di.values())

In [ ]:
di = {1:"nikita",   2:"emir",3: "kite"}

#di = "this is npt a dict"

In [ ]:
ob.userin()

{66:"yrgtfw"}
{66: 'yrgtfw'} <class 'dict'>
dict_keys([66])
dict_values(['yrgtfw'])

In [ ]:
ob = dicttionary(di)  # creating object for the class

ob.new_pair()

8
dfgh
{1: 'nikita', 2: 'emir', 3: 'kite', 8: 'dfgh'}

In [ ]:

ob.val()

yrgtfw

In [ ]:
ob.kei()

66

In [ ]:
ob.exc()

1

In [ ]:
m = "nikita"
obb = dicttionary(m)
obb.exc()

Exception: (<__main__.dicttionary object at 0x780679d9efd0>, {1: 'nikita', 2: 'emir', 3: 'kite', 8: 'dfgh'}, 'NOT A DICTIONARY')

In [ ]:
ob.exc()

is a dict

In [ ]:
new_obj = dicttionary(m)
new_obj.exc()